<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/stylesmain.css">
  <title>En-seña</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kodchasan:wght@400;500&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-------------------------------------------BARRA NAVEGACION----------------------------------------------->




  <div class="header">
    <img src="../static/image/Logo.png" class="logo" alt="logo En-seña">
    <!--agregue alt-->
    <div class="header-right">
      <button class="ingresar" onclick="botonIngreso()">Ingresar</button>
      <button onclick="botonRegistro()">Registrarse</button>
    </div>
  </div>

  <!------------------------------------------- SECCION INICIAL----------------------------------------------->

  <div class="container">
    <!--Formulario Ingreso/Registro-->
    <div id="myDiv" style="display: none;">
      <!--Sacar style / ver funcion en js-->
      <form class="container-form">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Contraseña</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <input type="checkbox" id="exampleCheck1">
        <label for="exampleCheck1">Recordarme</label>

        <button type="submit" class="btn">Login</button>
      </form>
    </div>

    <div id="myDiv2" style="display: none;">
      <!--Sacar style / ver funcion en js-->
      <form class="container-form">
        <label for="name"><b>Nombre</b></label>
        <input type="text" placeholder="Nombre" name="name" required>

        <label for="lastname"><b>Apellido</b></label>
        <input type="text" placeholder="Apellido" name="srn" required>

        <label for="mail"> <b>Email</b></label>
        <input type="text" required>

        <label for="psw"> <b>Contraseña</b></label>
        <input type="password" required>

        <button type="submit" class="btn">Crear Cuenta</button>
      </form>
    </div>

    <img src="../static/image/3715.jpg" class="bg-img" alt="banner">
    <!--Cambio nuevo. Saque style/agregue clase-->
    <div class="content">
      <h1>APRENDIENDO A INCLUIR</h1>
      <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis
        neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.lore Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Officiis libero blanditiis, quasi ipsa voluptatum nostrum tempora quam autem
        assumenda obcaecati possimus vitae fuga velit totam similique voluptate ipsam nam recusandae.
      </p><!-- Ver texto-->
    </div>
  </div>

  <!------------------------------------------- FOOTER----------------------------------------------->

  <footer>
    <div>©️ 2021 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      <!--Estilado en CSS-->
    </div>
  </footer>

  <script src="../templates/main.js"></script>
</body>


</html>