
header{
    background: rgb(34,153,205);
    background: linear-gradient(90deg, rgba(34,153,205,0.9951330874146533) 5%, rgba(59,190,235,1) 53%, rgba(46,168,200,1) 71%, rgba(50,170,203,1) 90%);
}

body{
    /*background:url(encabezado.jpeg);
    background-size: 100%;*/
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(246,255,255,1) 53%);
}
.login{
    background: rgb(255,229,229);
background: linear-gradient(0deg, rgba(255,229,229,1) 6%, rgba(200,255,255,1) 15%);
}
.nav-link{
    background-color: white;

}
.footer{
    background: rgb(34,153,205);
    background: linear-gradient(90deg, rgba(34,153,205,0.9951330874146533) 5%, rgba(59,190,235,1) 53%, rgba(46,168,200,1) 71%, rgba(50,170,203,1) 90%);
}
.hola-2{
    background: rgb(34,153,205);
    background: linear-gradient(90deg, rgba(34,153,205,0.9951330874146533) 5%, rgba(59,190,235,1) 53%, rgba(46,168,200,1) 71%, rgba(50,170,203,1) 90%);
}